/* The following is added manually */
/* To expand highlighted block to fit width of whole code area */
.chroma code { display: inline-block; }

/* lineno=table fix */
main#content .lntd pre {
    margin: 0;
    padding: 0;
}

main#content .highlight>.chroma {
    overflow-x: auto;
    margin: 20px 0;
    padding: 1.5rem 1.5rem;
}

main#content .lntable {
    overflow: visible;
}

main#content .highlight>.chroma {
    width: 108%;
    margin-left: -3.8%;
    padding: 1.5rem 2.2rem;
}

@media (min-width: 770px) {
main#content .highlight>.chroma {
    width: 108%;
    margin-left: -3.8%;
    padding: 1.5rem 2.2rem;
}

main#content .chroma .lntable pre {
    width: 100%;
}

main#content .gist-it-gist pre {
    width: 100%;
}
}

@media (max-width: 769px) {
body { overflow-x: hidden; }
}
